<!DOCTYPE html>
<html>
  <head>
    <title>Where Work Happens | SlackClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/885554951857946624/sd7GRyjY_400x400.jpg"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
